html,
body {
    margin: 0;
    padding: 0;
}

h1,
p {
    margin: 0 0 1em
}


#boxmodel {
    display: grid;
    grid-template-columns: repeat (6, 1fr);
    grid-template-rows: 35vh 65vh;
    height: 100vh;
}


.canvas {
    background-repeat: no-repeat;
    background-size: contain;
    /* object-fit: cover; */
    max-height: 100vh;
}

#contact {
    background-image: url(../images/red.png);
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
}

#contact:hover {
    background-image: url(../images/redicon.png);
    object-fit: cover;
    height: 100vh;
}

#merch {
    background-image: url(../images/orange.png);
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}

#merch:hover {
    background-image: url(../images/orangeicon.png);
    object-fit: cover;
    height: 100vh;
}

#artistbio {
    background-image: url(../images/yellow.png);
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
}

#artistbio:hover {
    background-image: url(../images/yellowicon.png);
    object-fit: cover;
    height: 100vh;
}

#socialmedia {
    background-image: url(../images/green.png);
    grid-column: 5;
    grid-row: 1 / span 2;
}

#socialmedia:hover {
    background-image: url(../images/greenicon.png);
    object-fit: contain;
    height: 100vh;
}

#portfolio {
    background-image: url(../images/blue.png);
    grid-column: 6;
    grid-row: 1 / span 2;
}

portfolio:hover {
    background-image: url(../images/blueicon.png);
    object-fit: cover;
    height: 100vh;
}